@import "globals/_index.scss";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  box-sizing: border-box;
  // background-color: var(--primary-color);
  // color: var(--text-color);
  background: $primary-color;
  color: $text-color;
  font-family: "Nunito", sans-serif;
}

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(regular);
    &:hover {
      color: rgb(193, 32, 11);
    }
  }
}
