@import "globals/_index.scss";

body {
  box-sizing: border-box;
  // background-color: var(--primary-color);
  // color: var(--text-color);
  background: $primary-color;
  color: $text-color;
  font-family: "Nunito", sans-serif;
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weight(medium);
    &:hover {
      color: rgb(193, 32, 11);
    }
  }
}
