@forward "base";

$primary-color: #b4adad;
$second-color: #083c86;
$text-color: #630808;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

body {
  box-sizing: border-box;
  background: $primary-color;
  color: $text-color;
  font-family: "Nunito", sans-serif;
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: map-get($font-weights, bold);
    &:hover {
      color: rgb(193, 32, 11);
    }
  }
}
